body {
    font-family: "Times New Roman", Times, serif;
    line-height: 1.5;
    margin: 0;
    padding: 50px 120px;
    color: #000;
    border: 1px solid #000;
    width: 50%;
    height: 100%;
    justify-self: center;
    align-self: center;
}

header {
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
}

header h2 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 10px;
}

main {
    max-width: 600px;
    margin: 20px auto;
}

h3{
    font-style: italic;
}
h2{
    border-bottom: 1px solid #000;
    color: rgb(50, 102, 157);
}
section {
    margin-bottom: 20px;
}

ol {
    padding-left: 0px;
}

figure {
    text-align: center;
    margin: 20px 0;
}

figure img {
    max-width: 150px;
    height: auto;
}

figcaption {
    margin-top: 10px;
    font-style: italic;
}
